<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="100" id="navbar-top">
  <div class="container">
    <div class="navbar-translate">
      <a class="navbar-brand" placement="bottom" [routerLink]="['/']"
        tooltip="ng|she es una iniciativa de Angular Bolivia">
        ng <span> | </span> she
      </a>
      <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler"
        [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
        <span class="navbar-toggler-bar bar1"> </span>
        <span class="navbar-toggler-bar bar2"> </span>
        <span class="navbar-toggler-bar bar3"> </span>
      </button>
    </div>
    <div class="navbar-collapse justify-content-end" [collapse]="isCollapsed" id="navigation">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"><a> ng|she </a></div>
          <div class="col-6 collapse-close text-right">
            <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler"
              [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
              <i class="tim-icons icon-simple-remove"> </i>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item p-0">
          <a class="nav-link" href="https://twitter.com/angularBolivia" placement="bottom" target="_blank"
            rel="noopener noreferrer" tooltip="Síguenos en Twitter">
            <i class="fab fa-twitter"> </i>
            <p class="d-lg-none d-xl-none">Twitter</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link" href="https://www.facebook.com/angular.bolivia" placement="bottom" target="_blank"
            rel="noopener noreferrer" tooltip="Síguenos en Facebook">
            <i class="fab fa-facebook-square"> </i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a class="nav-link" href="https://instagram.com/angular.bolivia" placement="bottom" target="_blank"
            rel="noopener noreferrer" tooltip="Síguenos en Instagram">
            <i class="fab fa-instagram"> </i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>
        <li class="nav-item">
          <a id="nav-register-btn" class="nav-link btn btn-default px-2" href="https://forms.gle/Mzhe8qNSCPv98Krz8"
            target="_blank" rel="noopener noreferrer">
            <i class="tim-icons icon-pencil"> </i> Regístrate
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
