<section class="section section-lg">
  <div class="container">
    <div class="text-center">
      <h1>ng|she</h1>
      <h3>
        Queremos que la industria TECH se beneficie de la participación de más
        mujeres dentro del área, es por eso que organizamos ng|she, un taller
        que te dará las herramientas iniciales para aprender a programar. Y si
        bien queremos que muchas más mujeres se animen al reto, el mismo no es
        excluyente, así que no tienes excusas.
      </h3>
      <h3>
        El taller tendrá una duración de 4 horas, en el mismo aprenderás las
        bases de la programación web de una manera divertida y personalizada,
        utilizando Angular como herramienta. Angular es una plataforma de código
        abierto para la creación de aplicaciones web, desarrollada por Google y
        la comunidad. Prepara las preguntas que quieras, ya que tendrás expertos
        que podrán responderlas.
      </h3>
    </div>
  </div>
</section>
