<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1 class="title">ng|she</h1>
      </div>
      <div class="col-md-3">
        <h3 class="title">Síguenos:</h3>
        <div class="btn-wrapper profile">
          <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://twitter.com/angularBolivia"
            target="_blank" rel="noopener noreferrer">
            <i class="fab fa-twitter"> </i>
          </a>
          <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://www.facebook.com/angular.bolivia"
            target="_blank" rel="noopener noreferrer">
            <i class="fab fa-facebook-square"> </i>
          </a>
          <a class="btn btn-icon btn-neutral btn-round btn-simple" href="https://instagram.com/angular.bolivia"
            target="_blank" rel="noopener noreferrer">
            <i class="fab fa-instagram"> </i>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
