<section class="section section-lg">
  <img class="path" src="assets/img/path4.png" alt="fondo en forma de burbuja">
  <div class="container">
    <div class="row row-grid justify-content-between">
      <div class="col-md-5 mt-lg-5">
        <img src="assets/img/participants.png" alt="mujer postulando al evento">
      </div>
      <div class="col-md-6 vertical-align">
        <div class="pl-md-5">
          <h1>
            Aplicaciones abiertas ¡Postúlate!
          </h1>
          <h1>
            ¿Quieres crear tu primera aplicación web con Angular? ¡Regístrate y aprende con nosotros!
          </h1>
          <p>
            Si bien queremos tener una gran participación de mujeres en nuestro taller, el mismo no es excluyente,
            cualquier persona con muchas ganas de aprender puede formar parte, no dejes pasar la oportunidad.
          </p>
          <p>
            <b>Fecha límite:</b> 22 de Noviembre, 2020
          </p>
          <br>
          <div class="text-center text-md-left">
            <a class="btn btn-danger" tabindex="0" href="https://forms.gle/Mzhe8qNSCPv98Krz8" target="_blank"
              rel="noopener noreferrer">
              <i class="tim-icons icon-pencil"> </i> Regístrate
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
