<section class="section section-lg">
  <div class="container text-center">
    <h3 class="mb-5">Conoce a los mentores de ng|she</h3>
    <div class="row justify-content-center">
      <div
        data-aos="fade-up"
        *ngFor="let mentor of mentors"
        class="mb-5 col-sm-4 col-6"
      >
        <div class="mb-3">
          <a
            class="text-uppercase font-weight-bold text-info"
            data-target="#organizerModal"
            (click)="openMentorModal(mentor)"
          >
            {{ mentor.shortName }}
          </a>
        </div>
        <img
          class="img-fluid rounded shadow-lg clickable mentor-picture"
          data-target="#organizerModal"
          [alt]="mentor.name"
          [src]="mentor.imageSrc"
          (click)="openMentorModal(mentor)"
        />
      </div>
    </div>
  </div>
</section>

<div
  aria-hidden="true"
  aria-labelledby="organizerModalLabel"
  bsModal
  class="modal fade"
  #organizerModal="bs-modal"
  id="organizerModal"
  role="dialog"
  tabindex="-1"
>
  <ngs-organizer-modal-content
    [organizer]="selectedMentor"
    (closeModal)="mentorModal.hide()"
  >
  </ngs-organizer-modal-content>
</div>
