<section class="section section-lg">
  <div class="container">
    <div class="text-center">
      <h3 class="mb-5">Conoce a las organizadoras liderando ng|she</h3>
      <div class="row">
        <div *ngFor="let organizer of organizers" class="mb-5 col-sm-4 col-6">
          <a class="mb-4 d-block text-uppercase font-weight-bold text-info" data-target="#organizerModal"
            (click)="openOrganizerModal(organizer)">
            {{ organizer.name }}
          </a>
          <img alt="foto de Griss Garcia" class="img-fluid rounded shadow-lg clickable organizer-picture"
            [src]="organizer.imageSrc" data-target="#organizerModal" (click)="openOrganizerModal(organizer)">
        </div>
      </div>
    </div>
  </div>
</section>

<div aria-hidden="true" aria-labelledby="organizerModalLabel" bsModal class="modal fade" #organizerModal="bs-modal"
  id="organizerModal" role="dialog" tabindex="-1">
  <ngs-organizer-modal-content [organizer]="selectedOrganizer" (closeModal)="organizerModal.hide()">
  </ngs-organizer-modal-content>
</div>
