<div class="page-header header-filter">
  <div class="squares square1"></div>
  <div class="squares square2"></div>
  <div class="squares square3"></div>
  <div class="squares square4"></div>
  <div class="squares square5"></div>
  <div class="squares square6"></div>
  <div class="squares square7"></div>
  <div class="container">
    <div class="content-center brand">
      <img src="assets/img/ng-she-logo.png" alt="logo ng|she">
      <h3>
        ng | she es un workshop que busca que más personas se unan al maravilloso mundo de la programación
      </h3>
    </div>
  </div>
</div>
