<div class="page-header header-filter">
  <div class="squares square1"></div>
  <div class="squares square2 d-none d-md-block"></div>
  <div class="squares square3"></div>
  <div class="squares square4"></div>
  <div class="squares square5"></div>
  <div class="squares square6"></div>
  <div class="squares square7"></div>
  <div class="container">
    <div class="content-center brand">
      <img src="assets/img/ng-she-logo.png" alt="logo de ng|she">
      <h3>
        28 de Noviembre, 2020 - 09:00 GMT-4
      </h3>
      <h4 class="d-inline-flex vertical-align">
        <i class="fas fa-circle fa-fw mr-1 online-icon"></i> Evento online
      </h4>
      <a class="btn btn-default d-lg-none d-xl-none" href="https://forms.gle/Mzhe8qNSCPv98Krz8" target="_blank"
        rel="noopener noreferrer">
        <i class="tim-icons icon-pencil"></i> Regístrate
      </a>
    </div>
  </div>
</div>
