<section class="section section-lg">
  <div class="space-50"></div>
  <div class="container text-center">
    <h3 class="mb-5">Blog</h3>
    <div class="row">
      <div class="col-sm-4">
        <a routerLink="code-of-conduct">
          <img alt="equipo ng bolivia 2019" class="img-raised" src="assets/img/ng-bolivia.jpg">
        </a>
        <a class="btn btn-simple btn-danger btn-round mt-3" routerLink="code-of-conduct">
          Ver código de conducta
        </a>
      </div>
    </div>
  </div>
</section>
