/* You can add global styles to this file, and also import other style files */
ngs-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a {
  cursor: pointer !important;
}

b, strong {
  font-weight: 700 !important;
}

h1, h2, h3 {
  word-break: break-word;
}

.page-header {
  min-height: 450px !important;
}

.text-right {
  float: right;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.clickable {
  cursor: pointer;

  &:hover {
    transform: translateY(-1px);
    -webkit-transform: translateY(-1px);
  }
}
